* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkseagreen;
  position: relative;
  min-height: 100vh;
}

/* Header */

.navbar {
  background-color: rgb(110, 144, 144);
  height: 8vh;
  color: aliceblue;
}

.navbar h1 {
  text-align: center;
  padding-top: 5px;
}

@media (max-width: 425px) {
  .navbar {
    height: 6vh;
  }
  .navbar h1 {
    font-size: 1rem;
  }
}

/* List inventory */
.text-center {
  margin-top: 15px;
}

#add-btn {
  width: 70px;
  height: 4vh;
  margin: 5px 0;
  background-color: olivedrab;
  color: aliceblue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin: 5px 0;
}

#list-search__input {
  background-color: rgb(46, 56, 65);
  color: aliceblue;
  font-size: 0.6rem;
  padding-left: 5px;
  height: 4vh;
}

#list-search__input::placeholder {
  font-size: 0.6rem;
  color: aliceblue;
}

#search-btn {
  background-color: rgb(110, 144, 144);
  color: aliceblue;
  font-size: 0.6rem;
  height: 4vh;
}

.table,
th {
  border: 1px solid black;
}

.table-row th {
  font-size: 0.7rem;
}

.list-items {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 500;
}

.list-body img {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  list-inventory__container {
    width: 100vw;
  }

  .text-center {
    font-size: 0.9rem;
  }
  #list-button__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-inventory__container {
    margin: 0 10px;
  }

  .table-row th {
    font-size: 0.5rem;
  }

  .list-items {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 500;
  }

  .list-body img {
    width: 35px;
    height: 35px;
  }

  #list-button__container button {
    width: 30px;
    height: 15px;
    font-size: 0.4rem;
  }
}

@media (max-width: 425px) {
  .list-inventory__container {
    width: 100vw;
    margin: 0 20px;
  }
  .text-center {
    font-size: 0.7rem;
  }

  .table-row th {
    font-size: 0.4rem;
  }

  .list-items {
    text-align: center;
    font-size: 0.4rem;
    font-weight: 500;
  }

  .list-body img {
    width: 25px;
    height: 25px;
  }
}

/* Add Inventory */
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 50px;
  width: 35vw;
  margin: 10px auto;
}

.card .text-center {
  text-align: center;
  margin: 5px auto;
}

.adding-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  font-size: 0.6rem;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
}

.form-group input {
  width: 60%;
  height: 4vh;
  margin: 0 auto;
  background-color: rgb(46, 56, 65);
  color: aliceblue;
  font-size: 0.6rem;
  padding-left: 5px;
}

.form-group input::placeholder {
  color: aliceblue;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 7px auto;
}

.btn {
  width: 40px;
  height: 20px;
  font-size: 0.6rem;
  font-weight: 700;
}

.btn-success {
  background-color: cornflowerblue;
  color: aliceblue;
}

.btn-danger {
  background-color: crimson;
  color: aliceblue;
}

.btn-primary {
  background-color: deepskyblue;
  color: aliceblue;
}

.btn-view {
  background-color: rgb(122, 195, 14);
  color: aliceblue;
}

.view-button__container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .card {
    width: 50vw;
  }
}

@media (max-width: 425px) {
  .card {
    width: 80vw;
  }
}

/* View Inventory */
.view-container {
  margin: 10% auto;
  width: 30vw;
}

#view-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#view-image {
  width: 100px;
  height: 100px;
}

#data-info {
  margin-left: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .view-container {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .view-container {
    width: 60vw;
  }
}

/* Footer */

.footer {
  background-color: rgb(110, 144, 144);
  height: 5vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-muted {
  font-size: 0.5rem;
}
